dill==0.4.0
gensim==4.4.0
matplotlib==3.10.6
nni==3.0
networkx==3.5
openpyxl==3.1.5
pandas==2.3.2
simplejson==3.20.1
setuptools==80.9.0
wheel==0.45.1
scikit-learn==1.7.2
texttable==1.7.0
torch==2.9.0
torch-geometric==2.7.0
tqdm==4.67.1
pandas==2.3.3
numpy==2.3.4
seaborn==0.13.2